#Content2{
	text-align: center;
}

#Contalner{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#Header{
	background-color: white;
	color: white;
	text-align: center;
}

#content{
	padding: 10px
}

#nav{
	width: 180px;
}




